.home{
    width: 70%;
margin:auto;
text-align: center;
}
.search{
    padding: 12px 30px; 
    width: 50%;
    margin: auto;
    margin-top: 80px;
    border: none;

    background-color:#002442 ;
border-radius: 8px;
}
.input{
    width: 100%;
padding: 2px;
    border: none;
    background-color: transparent;
outline: none;

color:white;
font-size: 17px;
}
.input::placeholder{
    color: white;
    font-size: 17px;
}
.main{
    width: 60%;
    margin: auto;

}